<h1><%= @transaction.amount %></h1>

<p>Merchant Name: <%= @transaction.merchant.name %></p>
<p>Description: <%= @transaction.description %></p>
<p>Tag: <%= @transaction.tag.name %></p>
<p>Transaction Time: <%= @transaction.transaction_time %></p>

<a href="/transactions/<%= @transaction.id %>/edit">Edit Transaction</a>
<a href="/transactions">Return to Previous Page</a>
