<h1><%= @transaction.amount %></h1>

<p>Merchant Name: <%= @transaction.merchant.name %></p>
<p>Description: <%= @transaction.description %></p>
<p>Tag: <%= @transaction.tag.name %></p>
<p>Transaction Time: <%= @transaction.transaction_time %></p>

<a class="btn" href="/transactions/<%= @transaction.id %>/edit">Edit Transaction</a>

<form action="/transactions/<%= @transaction.id %>/delete" method="POST">
  <button class="btn" type="delete">Delete</button>
</form>

<a href="/transactions">Return to Previous Page</a>
