<h1><%= @transaction.description %></h1>

<p> Amount: <%= @transaction.amount %></p>
<p>Merchant Name: <%= @transaction.merchant.name %></p>
<p>Tag: <%= @transaction.tag.name %></p>
<p>Transaction Time: <%= @transaction.transaction_time %></p>
<br>
<a class="btn" href="/transactions/<%= @transaction.id %>/edit">Edit Transaction</a>
<br>
<form action="/transactions/<%= @transaction.id %>/delete" method="POST">
  <button class="delete" type="delete">Delete</button>
</form>
<br>
<br>
<a id="return" href="/transactions">Return to Previous Page</a>
<br>
<br>
